<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="meta desc" />
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />

</head> 
    
    <body>
        <div class="container">
            <h1>Bike Shop</h1>
            <p>Choose a bike from the list</p>

            <script id="bike-template" type="text/template">
                <div class="bike current">
                    <img src="<%= coverImage %>"/>
                    <ul>
                        <li><%= type %></li>
                        <li><%= brand %></li>
                        <li><%= model %></li>
                    </ul>
                </div>

            </script>

        </div>

        <div id="sidebar">
            <script id="bike-list" type="text/template">
                <div><%= brand %> <%= model %></div>
            </script>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/handlebars/handlebars.js"></script>
        <script src="js/data/data.json"></script>
        <script src="js/app.js"></script>
        <script src="js/AJAXPromiseManager.js"></script>


    </body>

</html>
